[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/kcd-hugo-theme"]
	path = themes/kcd-hugo-theme
	url = https://github.com/ericmurphyxyz/hugo-starter-theme
