<div id="custom-substack-embed"></div>


<script>
  window.CustomSubstackWidget = {
    substackUrl: "kcdavidson.substack.com",
    placeholder: "Type your email...",
    buttonText: "Subscribe",
    theme: "custom",
    colors: {
      primary: "var(--color-primary)",
      input: "var(--color-background)",
      email: "var(--color-subtext)",
      text: "var(--color-text-bright)",
    }


    // Go to substackapi.com to unlock custom redirect

  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
